$primary: #18ba62;
$secondary: #3172be;
$warning: #f87526;
$danger: #fd3b37;
$disabled: #aeb8c0;
$white: #ffffff;

@mixin button-style($button-color) {
    border: 1px solid $button-color;
    background: $button-color;
}

.btn {
    border-radius: 8px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    color: white;
    margin: 10px 5px;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
        box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
    }

    &[disabled] {
        background-color: $disabled;
        border: 1px solid $disabled;
    }

    &--primary {
        @include button-style($primary);
    }

    &--secondary {
        @include button-style($secondary);
    }

    &--warning {
        @include button-style($warning);
    }

    &--danger {
        @include button-style($danger);
    }

    &--white {
        @include button-style(white);
        &:hover {
            box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.15);
        }
        color: unset;
    }

    &--small {
        height: 40px;
        padding: 0 30px;
        font-size: 10px;
    }

    &__text {
        font-size: 14px;
        font-weight: bold;
    }

    &__text + &__icon,
    &__icon + &__text {
        margin-left: 5px;
    }

    &__icon {
        position: relative;
        bottom: 2px;
        width: 20px;

        &--spinner {
            animation: spin 1s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
