.SearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
}
.SearchBar__input {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  max-width: 739px;
  padding: 10px 15px;
}
.SearchBar__input:focus {
  background-color: #f5f5f5;
  outline: none;
}
.SearchBar__link {
  padding: 0 30px !important;
  height: 40px;
  border-radius: 8px;
  margin-right: auto;
  margin-left: 10px;
  padding: 9px 16px;
  background: #18ba62;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
@media (max-width: 768px) {
  .SearchBar__link {
    padding: 0 10px !important;
    position: absolute;
    right: 0;
    background: none;
  }
}
.SearchBar__text {
  display: flex;
}
@media (max-width: 768px) {
  .SearchBar__text {
    display: none;
  }
}
@media (min-width: 768px) {
  .SearchBar__icon {
    display: none;
  }
}
.SearchBar .theme-icon {
  white-space: nowrap;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .SearchBar .theme-icon {
    display: none;
  }
}